body {
    background-image: url(../images/fabric_of_squares_gray.png)
}
#backgroundimage {
    height: 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

}

Header {
    font-family: 'Georgia', Times, 
    Times New Roman, serif;
}

.nav {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}


li a {
    display: block;
    color: #777777; 
    text-align: center;
    text-decoration: none;
    
  }
  

  li {
      float: left; 
      padding: 15px 20px;
  }
  .mainbod {
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      width: 960px;
      margin: auto; 
      background-color: white; 
       
      

  }
  h1 {
      color:#4aaaa5; 
      margin-left: 15px; 
      padding-top: 15px; 
     

  }

  hr {
    border: 1px solid #777777; 
    margin-left: 10px; 
    margin-right: 10px; 
    opacity: .5; 
    
  }
  
  Footer {
      padding: 20px; 
      background: #777777; 
      border-top: 5px solid #4aaaa5; 
      position: fixed; 
      left: 0; 
      bottom: 0; 
      width: 100%; 
      text-align: center; 
      color: white; 

  }
   
.mainbodtxt {
    color: #777777; 
    line-height: 1.6;
    margin-left: 10px; 
    margin-right: 10px;
    margin-bottom: 5px;   
  }
  .nameEmail {
    width: 92%; 
    margin-top: 2px; 
}
.textarea{

  width: 90%;
  height: 100px;
  border: inset .1px #777777;  
  background-color: white;
  font-size: 11px;  
  color: #777777; 
  resize: none;
  margin-left: 10px; 

}

  #nameHeading{
    margin-left: 12%; 
    background-color: #4aaaa5; 
  }
  
  #aheading {
      color:rgb(248, 248, 248); 
  }

#about {
      float: right;
      font-size: 12px;   
  }
  #about a {
    border-right: 1px solid #ccccccd1;
    padding-right: 30px;
   
  }
#portfolio {
    float: right;
    font-size: 12px; 
    
}
#portfolio a {
    border-right: 1px solid #ccccccd1;
    padding-right: 30px;
}
#contact {
    float: right; 
    font-size: 12px;
    margin-right: 10% 
}
#backgroundimage {
    width: 150px; 
    height: 150px; 
    float: left; 
    margin-right: 10px; 
    margin-left: 10px; 
}
.submit {
  background-color: #4aaaa5;
  border: none;
  color: white;
  padding: 16px 30px;
  margin-left: 10px; 
  margin-bottom: 25px; 
  margin-top: 15px; 
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.portimg {
  width: 150px; 
  height: 150px; 
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.relative {
  position: relative;
}

.imbox {
  position: absolute;
  bottom: 15px;
  width: 150px;
  padding: 10px;
  text-align: center;
  background: #4aaaa5
}